/api/bootstrap/ssr
/api/node_modules
/api/public/build
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/vendor
/api.env
/api.env.backup
/api.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
